

@{
    ViewBag.Title = "Coffee Factory";
}

<body style="background-color: antiquewhite;">
    <div class="p-5 mb-4 bg-light rounded-3 mt-4 ml-4 mr-4">
        <div class="container-fluid py-5 ">
          @Html.Action("GetCategories","Home")

        </div>
    </div>

    

   
</body>


